body {
    background-color: #fffefe;
    font-family: "Montserrat", Arial, sans-serif;
}
/* Bootstrap Over-ride */
@media (min-width: 1000px){
    .container{
        max-width: 1000px;
    }
}
@media (max-width: 1200px){
    .container{
        max-width: 100%;
        padding:0 24px;
    }
}
.navbar {
        background-color: #fefeff;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, .15);
        z-index: 1001;
}
@keyframes moveDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
.pb-3 .hidden {
    animation: moveDown .5s;
    
}
.hidden {
    position: fixed;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 0;
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    
}

.navbar-nav {
    text-align: center;
}

.dropdown-toggle::after {
    display: none;
}
.dropdown-menu{
    margin-top: 0   ;
    left:0px;
    padding:10px;
}
.alert-primary{
    background-color: #E4F1FF;
}
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
html, body, p, div{
    letter-spacing: -0.02px;
    font-family: 'Roboto', sans-serif;
}
.fs12{
    font-size: 12px;
}
.fs15{
    font-size: 0.9375rem;
}
.fw300{
    font-weight: 300;
}
.fw500{
    font-weight: 500;
}
/* Navigation-Main*/
/* xs */
.logo {
    width: 49px;
    height: auto;
}
/* sm */
@media (min-width: 768px) {
    .logo {
        width: 49px;
    }
}
/* md */
@media (min-width: 992px) {
    .logo {
        width: 60px;
    }
}
/* lg */
@media (min-width: 1200px) {
    .logo {
        width: 70px;
    }
}
/* Cart */
.cart-qty{
    color: #fff;
    background: #d42114;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    height: 15px;
    width: 14px;
    position: absolute;
    box-sizing: content-box;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1px;
    right: 10px;
}
.cart-btn{
    position: relative;
}
.cart-btn:hover, .cart-btn:focus, .cart-btn:active, .cart-btn.active{
    color:#d42114;
    transition-duration: 0.4s;
    background-color: #fff;
}
/* Footer */
.footer > div > div > ul > li{
    padding-bottom:8px;
}
.box-image {
    height: 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #f0eeee;
    border-radius: 12px;
}

.col {
    background-color:#fffefe;
    border: none;
    max-width: 25%;
    flex-basis: 25%;
}

footer {
    border-top: 2px solid #d4d4d5;
}

.col.center {
    text-align: center;
}

.single {
    border: 1px solid #e9ecef;
    border-radius: 12px;
    background: #000;
    color: #fff;
    font-size: 16px;
    padding: 7px 17px;
    text-transform: unset;
    margin-bottom: 10px;
}

.single-con {
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}

.product-tittle {
    font-size: 18px;
    font-weight: normal;
    padding: 10px 0px;
    font-weight: 600;
}



btn {
    color: white;
    background-color: black;
}

.btn-black{
    color:#fff;
    background-color:black;
    border-color:black;
}
.btn-black:hover{
    color:#fff;
    background-color:rgba(0, 0, 0, 0.853);
    border-color:rgba(0, 0, 0, 0.853);
}
.btn-black:focus{
    color:#fff;
    background-color:black;
    border-color:black;
    box-shadow:0 0 0 .25rem rgba(0, 6, 3, 0.66)
}
.btn-mgl {
    margin-left: 10px;
}

#sl {
    margin-bottom: 40px;
    margin-top: 10px;
}
.leftside {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-content: flex-start;
    position: sticky;
    top: 40px;
    margin-left: 8px;
    max-height: 669px;
    min-height: 455px;
}

.ThumbnailListContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    gap: 8px;
    min-width: 60px;
    max-width: 60px;
    height: 100%;
    overflow-y: scroll;
}

.ThumbnailListContainer::-webkit-scrollbar {
    display: none;
}

.HeroImgContainer {
    border-radius: 8px;
    overflow:hidden;
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
    top: 0;
    left: 0px;
}

.HeroImgItem {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: -1;
    max-width: 100%;
}

.reveal {
    opacity: 1;
}

.CarouselBtnsContainer {
    position: absolute;
    bottom: 24px;
    right: 24px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.css-1y8c530 {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    place-items: center;
    height: 36px;
    width: 36px;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 999px;    
}

.section {
    margin-bottom: 2rem;
  }
.section-header {
margin-bottom: 1rem;
}
.box-image img {
    max-height: 200px;
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
  }
  
  .card-title {
    font-size: 1.1rem;
    font-weight: 500;
  }
  
  .card-body {
    padding-top: 0.5rem;
  }
  
  .brand-item {
    background-color: #f8f9fa;
    transition: transform 0.3s;
  }
  
  .brand-item:hover {
    transform: scale(1.05);
  }
  
  .alert-warning {
    background-color: #fff3cd;
    color: #856404;
    padding: 0.75rem 1.25rem;
    border: 1px solid #ffeeba;
    border-radius: 0.25rem;
  }
.colorlib-intro {
    padding-bottom: 0;
    padding: 7em 0;
    clear: both;
}
.intro {
    font-size: 40px;
    font-weight: 700;
    font-family: "Montserrat", Arial, sans-serif;
    margin-bottom: 0; }
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }
.colorlib-product {
    padding: 7em 0;
    clear: both; }

.featured {
    width: 100%; }
    .featured .featured-img {
        height: 500px;
        display: block;
        margin-bottom: 20px;
        padding: 2em 1em; }
        .featured .featured-img h2 {
        color: #fff;
        text-transform: uppercase;
        font-size: 40px; }
        .featured .featured-img.featured-img-2 {
        height: 400px; }
    .featured .desc h2 {
        font-size: 40px; }
        .featured .desc h2 a {
        text-decoration: none;
        font-family: "Montserrat", Arial, sans-serif;
        font-weight: bold;
        color: #000; 
        transition: color 0.3s ease;}

.featured-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.featured .desc h2 a:hover {
    color: #720e54; /* Màu chữ khi hover */
}

.h1 {
    font-family: "Montserrat", Arial, sans-serif;
}
.section-header h1 {
    font-family: 'Montserrat', Arial, sans-serif; /* Sử dụng font Montserrat */
    font-size: 3rem; /* Tăng kích thước chữ */
    font-weight: bold; /* Làm đậm chữ */
    text-transform: uppercase; /* Chuyển chữ thường thành chữ in hoa */
    color: #333; /* Đổi màu chữ nếu cần */
  }
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    }
.img-fluid {
    max-width: 100%;
    height: auto; }

/* Đổi font và kiểu chữ cho các từ trong thẻ a */
.navbar-nav .nav-link {
    font-family: "Montserrat", Arial, sans-serif; /* Đổi font-family */
    font-weight: 500; /* Đặt độ đậm của chữ */
    text-transform: uppercase; /* Chuyển chữ thành in hoa */
    letter-spacing: 1px; /* Khoảng cách giữa các chữ */
    color: #333; /* Màu chữ */
}

/* Đổi màu chữ khi rê chuột vào */
.navbar-nav .nav-link:hover {
    color: #555; /* Màu chữ khi rê chuột vào */
}

/* Đổi kiểu chữ cho dropdown menu */
.dropdown-menu .dropdown-item {
    font-family: "Montserrat", Arial, sans-serif; /* Đổi font-family */
    font-weight: 400; /* Đặt độ đậm của chữ */
    text-transform: none; /* Loại bỏ việc chuyển chữ thành in hoa */
    letter-spacing: 0; /* Không thay đổi khoảng cách giữa các chữ */
    color: #333; /* Màu chữ */
}

/* Đổi màu chữ khi rê chuột vào */
.dropdown-menu .dropdown-item:hover {
    color: #de144d92; /* Màu chữ khi rê chuột vào */
}
.wishlist-header {
    text-align: center;
    margin-bottom: 20px;
  }
  .wishlist-card {
    border: 1px solid #ddd;
    transition: box-shadow 0.3s ease;
  }
  .wishlist-card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  .wishlist-img {
    max-width: 135px;
  }
  .wishlist-card-title {
    font-weight: bold;
  }
  .wishlist-card-text {
    color: #555;
  }
  .wishlist-card-price {
    font-size: 1.2rem;
    color: #333;
  }
  .wishlist-btn {
    font-weight: 500;
  }

