{% extends "../sub_base.html" %}
{% load static %}
{% block title %}Orders{% endblock %}

{% block sub_content %}
<div class="container">
    <div class="col-12">
      <h1 class="h2">Your Orders</h1>
    </div>
    <div class="col-12 d-flex justify-content-between">
      <div>Manage your <b>orders</b> and personal details</div>
      <div><a href="{% url "account:edit_details" %}">Change Details</a></div>
    </div>
    <hr />
  </div>
  <div class="container">
    {% for order in orders %}
    <div class="row g-3">
      <div class="col-12 bg-light p-3 d-flex justify-content-between">
        <div class="d-flex d-flex-inline">
          <div class="pe-3">{{ order.created }}</div>
          <div class="dropdown">
          <a class="text-reset text-decoration-none dropdown-toggle" href="#" role="link" id="dropdownLink" data-bs-toggle="dropdown" aria-expanded="false">
          Dispacted to 
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
          </svg>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownLink">
            <li class="item small">{{order.full_name}}</li>
            <li class="item small">{{order.address1}}</li>
            <li class="item small">{{order.address2}}</li>
            <li class="item small">{{order.post_code}}</li>
          </ul>
          </div>
        </div>
        <div class="text-end">
          Total paid: <span class="fw-bold">£{{ order.total_paid }}</span>
        </div>
      </div>
      <div class="col-md-5 col-lg-4 order-md-last p-0 order-3">
        <div class="d-grid gap-2 ">
            <button class="btn btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#problemModal">Problem with order</button>
            <button class="btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#reviewModal">Leave a review</button>
        </div>
    </div>
    
    <!-- Problem with Order Modal -->
<div class="modal fade" id="problemModal" tabindex="-1" aria-labelledby="problemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="problemModalLabel">Problem with Order</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form action="{% url 'account:submit_problem' %}" method="POST">
                  {% csrf_token %}
                  <div class="mb-3">
                      <label for="orderNumber" class="form-label">Order Number</label>
                      <input type="text" class="form-control" id="orderNumber" name="orderNumber" required>
                  </div>
                  <div class="mb-3">
                      <label for="problemDescription" class="form-label">Description</label>
                      <textarea class="form-control" id="problemDescription" name="problemDescription" rows="3" required></textarea>
                  </div>
                  <button type="submit" class="btn btn-warning">Submit</button>
              </form>
          </div>
      </div>
  </div>
</div>

<!-- Leave a Review Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="reviewModalLabel">Leave a Review</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form action="{% url 'account:submit_review' %}" method="POST">
                  {% csrf_token %}
                  <div class="mb-3">
                      <label for="productName" class="form-label">Product Name</label>
                      <input type="text" class="form-control" id="productName" name="productName" required>
                  </div>
                  <div class="mb-3">
                      <label for="reviewText" class="form-label">Review</label>
                      <textarea class="form-control" id="reviewText" name="reviewText" rows="3" required></textarea>
                  </div>
                  <div class="mb-3">
                      <label for="rating" class="form-label">Rating</label>
                      <select class="form-select" id="rating" name="rating" required>
                          <option value="5">5 - Excellent</option>
                          <option value="4">4 - Good</option>
                          <option value="3">3 - Average</option>
                          <option value="2">2 - Poor</option>
                          <option value="1">1 - Terrible</option>
                      </select>
                  </div>
                  <button type="submit" class="btn btn-light">Submit</button>
              </form>
          </div>
      </div>
  </div>
</div>
      <div class="col-md-7 col-lg-8 p-0">
        {% for item in order.items.all %}
        <div class="card mb-3 border-0">
          <div class="row g-0 align-items-center">
            <div class="col-md-2 d-none d-md-block">
              {% for image in item.product.product_image.all %}
                  {% if image.is_feature %}
                    <a class="text-dark text-decoration-none" href="{{ item.product.get_absolute_url }}">
                      <img class="card-img-top img-fluid" alt="{{ image.image.alt_text }}" src="{{ image.image.url }}">
                    </a>
                  {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-10">
              <div class="card-body p-1 d-flex align-items-center">
                <a class="text-decoration-none" href="{{ item.product.get_absolute_url }}">
                  <p class="card-text small">{{item.product|title}}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}