{% extends "../sub_base.html" %}
{% block title %}Users Wish List{% endblock %}
{% load static %}
{% block sub_content %}
<div class="container">
  <div class="col-12 mx-auto wishlist-header">
    <div class="section-header text-center">
      <h1 class="display-4 font-weight-bold">Wishlist</h1>
    </div>
    <hr />
  </div>

  {% if wishlist %}
    {% for product in wishlist %}
      <div class="card mb-3 rounded-0 wishlist-card">
        <div class="row no-gutters">
          <div class="col-md-2">
            {% for image in product.product_image.all %}
              {% if image.is_feature %}
                <img class="img-fluid d-block p-2 wishlist-img" src="{{ image.image.url }}" alt="{{ image.image.alt_text }}" />
              {% endif %}
            {% endfor %}
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title wishlist-card-title">{{ product.title }}</h5>
              <p class="card-text wishlist-card-text">{{ product.description }}</p>
              <p class="card-text wishlist-card-price"><small class="text-muted">£{{ product.regular_price }}</small></p>
              <a type="button" class="btn btn-primary wishlist-btn btn-sm" href="{% url 'account:user_wishlist' product.id %}">Remove from Wishlist</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p class="card-text">No products have been added to your wishlist yet</p>
  {% endif %}
</div>
{% endblock %}