{% extends "base.html" %}
{% block title %}Store{% endblock %}
{% block content %}
  <div class="container">
    <div>
      <img >
    </div>
    <div class="container">
      <div class="row">
        <div class="album py-5">
          <div class="pb-3">
            <h1 class="h3">Popular</h1>
          </div>
          {% if not products %}
            <div class="col-12">There are currently no products active</div>
          {% else %}
          <div class="row row-cols-3 row-cols-sm-4 row-cols-md-3 g-1">
            {% for product in products %}
            <div class="col border-0">
              <div class="">
                <div class="box-image">
                {% for image in product.product_image.all %}
              {% if image.is_feature%}
              <a class="text-dark text-decoration-none"
              href="{{ product.get_absolute_url }}">
                <img class="img-fluid" alt="Responsive image" src="{{ image.image.url }}"
                alt="{{ image.image.alt_text }}">
              </a>
              
              {% endif %}
              {% endfor %}
                </div>
                <div class="card-body px-0">
                  <p class="card-text">
                    <a class="text-dark text-decoration-none"
                      href="{{ product.get_absolute_url }}">{{ product.title|slice:":50" }}...</a>
                  </p>
                  <div class="fw-bold">£{{product.regular_price}}</div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      <hr>
      <div class="">
        <div>
          <h1 class="h3">Brand</h1>
          {% for brand in category %}
            <h1>alo</h1>
            <div class="fw-bold">{{ brand.name }}</div>
          {% endfor %}
        </div>
        <div>
          <p></p>
        </div>
        <hr>
        <div class="">
          <div>
            <h1 class="h3">Don't Miss</h1>
          </div>
          <div>
            <p></p>
          </div>
    </div>
    </div>
    
    
{% endblock %}