{% extends "../base.html" %}
{% block title %}
{% load static %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

<div class="container py-5" style="max-width: 1000px;">
  <div class="row">
    <div class="section-header text-center">
      <h1 class="display-4 font-weight-bold">YOU SEARCH FOR</h1>
    </div>
    <hr />
  </div>

  <div class="row">
    {% if not products %}
      <div class="col-12 alert alert-warning text-center">There are currently no products active</div>
    {% else %}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        {% for product in products %}
          <div class="col">
            <div class="card h-100 border-0 shadow-sm">
              <div class="box-image">
                {% for image in product.product_image.all %}
                  {% if image.is_feature %}
                    <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">
                      <img class="card-img-top img-fluid" alt="{{ image.image.alt_text }}" src="{{ image.image.url }}">
                    </a>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">
                    {{ product.title|slice:":50" }}...
                  </a>
                </h5>
                <div class="fw-bold text-primary">£{{ product.regular_price }}</div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}